body  {
	background-color: dimgrey;
	font-family: 'Titillium Web', sans-serif;
}

h1{
	color: whitesmoke;
	font-size: 60px;
	line-height: 0.1px;
	font-weight: 600;
	text-align: center;
	font-feature-settings: black;
} 

h2{
	color: whitesmoke;
	font-size: 13px;
	line-height: 0.1px;
	font-style: italic;
	font-weight: 200;
	text-align: center;
}

p{
	color: whitesmoke;
	font-size: 15px;
	text-align: center;
	font-weight: 300;
}

a:link {
    color: white;
}

a:hover {
    color: black;
}

a:visited {
	color: white;
}