@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

#topper{
	padding:5px;
	position: relative;
}

#logowrapper{
	position: absolute;
	display: inline-block;
	margin: 0 auto;
	width: 100%;
}

#aboutme {
	padding: 2em 8em;
	position: relative;
}

h1 {
	display: block;
	font-family: 'Titillium Web', sans-serif;
	padding: 1em;
	font-size: 20px;
	font-weight: 400;
	color: #282828;
	text-align: center;
}

#image{
	padding: 0 2em 0 0;
	display: block;
	float: left;
	width: 30%;
	min-width:200px; 
}

p{
	display: block;
	font-family: 'Titillium Web', sans-serif;
	font-size: 13px;
	font-weight:400;
	color: #282828;
	padding: 0 0 0 35%;
	text-align: justify;
}


footer{
	background-color:#d89d8f;
	position: relative;
	max-width: 100%;
	height: 4.5em;
}
.copyright{
	font-family: 'Titillium Web', sans-serif;
	font-size: 0.8em;
	color: white;
	font-weight:200;
	text-align: center;
	padding: 0.4em;
}
.sns-icon{
    text-align: center;
}
.icon{
	filter: invert(100%) brightness(150%);
	padding: 0.2em;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}


@media only screen and (max-width: 600px) {

  #topper{
  	position: relative;
  }

  #logowrapper{
  	display: block;
  	margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#aboutme {
	top: 1em;
	padding: 0 2em;
}

h1 {

	padding: 1 1 1 1em;
	font-size: 1em;
}

#image{
	margin-right: auto;
	margin-left: auto;
	padding: 0 0 0 0;
	float: none;
	width: 40%;
}

p{
	font-size: 12px;
	padding: 2em;
	text-align: center;
}
.copyright{
	font-size: 0.6em;
}
.sns-icon{
    text-align: center;
    padding: 0.2em;
}

}
